@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

* {
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://wallpaperaccess.com/full/148421.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Jost', sans-serif;
  color: #fffafa; /* Ensure text is readable on the background */
  margin: 0;
  padding: 0;
  height: 660px;
}

.container {
  width: 90%;
  max-width: 480px;
  margin: auto;
  padding: 1rem;
  background: url('') no-repeat center center;
  background-size: cover; 
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}
header {
  text-align: center;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.8rem;
}
.nn{
  color: #f5f5f5;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-form input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #bbb;
  border-radius: 5px;
}

.search-form button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #2196f3; 
  color: white;
  cursor: pointer;
  margin-left: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr; 
  gap: 1rem;
}

.grid-item.full-width {
  grid-column: span 2;
  background: #75b5e6; 
  padding: 1rem;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.grid-item.small {
  background: #e3f2fd;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item h5 {
  font-size: 1rem;
  color: #1976d2;
}

.grid-item p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #5192c7e1;
}
.desc {
  font-size: 1.5rem; /* Adjust this value as needed */
  font-weight: bold; /* Optional: make it bold */
  color: #fff; /* Optional: change the text color */
  margin-top: 0.5rem; /* Optional: add some space above */
}
